$white: #ffffff;
$blue: #0000ff;
$yellow: #ffff00;
$red: #ff0000;
$black: #000000;
$cream: #e0e4cc;
$background-body: $cream;
$colorFont: $black;
$FontMain: 'Raleway',
sans-serif;
$tablet: 760px;
$desktop: 1024px;
$widthTable: 250px;
$bgColorTable:$white